In [16]:
import pandas as pd
import pandas.io.data as web
import numpy as np
import datetime as dt
import pandas.stats.moments as st
from pandas import ExcelWriter
import matplotlib.pyplot as plt
import os

In [18]:
beg = dt.date(2015,2,1)
fin = dt.date.today()
spy = web.DataReader('SPY', 'yahoo', beg, fin)
VXX = web.DataReader('VXX', 'yahoo', beg, fin)

In [19]:
spy['Adj Close'][-1] / spy['Adj Close'][0]

1.1731300116635586

In [23]:
VXX['Adj Close'][0] / VXX['Adj Close'][-1]

6.3081794987880491

In [22]:
VXX.head()

                 Open       High        Low      Close    Volume   Adj Close
Date
2015-02-02  35.660000  37.349998  34.860001  34.900002  17508600  139.600006
2015-02-03  34.279999  34.630001  33.119999  33.240002  11910900  132.960007
2015-02-04  33.660000  34.360001  32.700001  34.150002  13566600  136.600006
2015-02-05  33.759998  33.799999  32.680000  32.910000   7953300  131.639999
2015-02-06  32.509998  35.029999  32.290001  34.299999  13140800  137.199997