In [1]:
import pandas as pd
import numpy as np
from itertools import product
from operator import itemgetter
import numpy as np

In [2]:
D1 = {"Apples":1000,"Bananas":2000}
D2 = {"Grapefruit":1500,"Watermelon":5000}

In [3]:
results_final = [(k1, k2, D1[k1] + D2[k2])
           for k1, k2 in product(D1.keys(), D2.keys())]

In [4]:
results_final

[('Apples', 'Grapefruit', 2500),
 ('Apples', 'Watermelon', 6000),
 ('Bananas', 'Grapefruit', 3500),
 ('Bananas', 'Watermelon', 7000)]

In [5]:
df = pd.DataFrame(results_final)
df.columns = ['Set1','Set2','Sales Sum']

In [6]:
df

      Set1        Set2  Sales Sum
0   Apples  Grapefruit       2500
1   Apples  Watermelon       6000
2  Bananas  Grapefruit       3500
3  Bananas  Watermelon       7000

In [31]:
max_row = np.argmax(df['Sales Sum'].values)
w1 = df.ix[max_row]

In [32]:
def ww1(df):
    temp = df.copy()
    max_row = np.argmax(df['Sales Sum'].values)
    w1 = df.ix[max_row]
    w2 = df.copy()
    return [w1,w2]

In [18]:
def w2(df):
    temp = df.copy()
    #temp = temp['Set1'].drop(w1['Set1'])
    return temp

In [33]:
w1['Set1']

'Bananas'