In [25]:
import pandas as pd
import numpy as np
from itertools import product
from operator import itemgetter
import numpy as np
import os

os.chdir("C:\\Users\\xexx\\Box Sync\\Ipython\\W-GITSYNCH")

In [2]:
D1 = {"Apples":1000,"Bananas":2000}
D2 = {"Grapefruit":1500,"Watermelon":5000}
D3 = {"Lemon":15000,"Lime":5400}

In [3]:
results_final = [(k1, k2, k3, D1[k1] + D2[k2] + D3[k3] )
           for k1, k2, k3 in product(D1.keys(), D2.keys(), D3.keys())]

In [4]:
results_final

[('Apples', 'Grapefruit', 'Lemon', 17500),
 ('Apples', 'Grapefruit', 'Lime', 7900),
 ('Apples', 'Watermelon', 'Lemon', 21000),
 ('Apples', 'Watermelon', 'Lime', 11400),
 ('Bananas', 'Grapefruit', 'Lemon', 18500),
 ('Bananas', 'Grapefruit', 'Lime', 8900),
 ('Bananas', 'Watermelon', 'Lemon', 22000),
 ('Bananas', 'Watermelon', 'Lime', 12400)]

In [5]:
df = pd.DataFrame(results_final)
df.columns = ['Set1','Set2','Set3','Sales Sum']

In [11]:
df.to_csv('fruits.csv')

In [7]:
max_row = np.argmax(df['Sales Sum'].values)
w1 = df.ix[max_row]

C:\Users\xexx\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

In [12]:
w1

Set1            Bananas
Set2         Watermelon
Set3              Lemon
Sales Sum         22000
Name: 6, dtype: object

In [8]:
def w1(df):
    temp = df.copy()
    max_row = np.argmax(df['Sales Sum'].values)
    w1 = df.ix[max_row]
    w2 = df.copy()
    return [w1,w2]

In [9]:
def w2(df):
    temp = df.copy()
    #temp = temp['Set1'].drop(w1['Set1'])
    return temp

In [15]:
df['Set1'] == "Bananas"

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
Name: Set1, dtype: bool

In [23]:
df[df['Sales Sum'] > 20000]

      Set1        Set2   Set3  Sales Sum
2   Apples  Watermelon  Lemon      21000
6  Bananas  Watermelon  Lemon      22000

In [30]:
w1

Set1            Bananas
Set2         Watermelon
Set3              Lemon
Sales Sum         22000
Name: 6, dtype: object