In [1]:
import pandas as pd
import numpy as np

In [18]:
D = {"Set1":{"Apples":1000,"Bananas":2000},"Set2":{"Grapefruit":1500,"Watermelon":5000}}
df = pd.DataFrame(D)

In [19]:
df

              Set1    Set2
Apples      1000.0     NaN
Bananas     2000.0     NaN
Grapefruit     NaN  1500.0
Watermelon     NaN  5000.0

In [23]:
for a in D:
    print (D[a])

{'Apples': 1000, 'Bananas': 2000}
{'Grapefruit': 1500, 'Watermelon': 5000}

In [ ]:
from itertools import product
from operator import ite